body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff2e2e;
    color: white;
    padding: 30px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}


nav ul {
    list-style: none;
    
    
}

nav ul li {
    display: inline;
    margin: 20px
   
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2em;
}

section {
    margin-bottom: 2em;
}

 
main {
    padding: 2rem;
}
 
.overview {
    background-color: white;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
 
.tasks ul {
    list-style-type: none;
    padding: 0;
}
 
.tasks li {
    background-color: white;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.task h3 {
    margin: 0 0 0.5rem 0;
}
 
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}
 
button:hover {
    background-color: #45a049;
}