body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff2e2e;
    color: white;
    padding: 30px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

nav ul {
    list-style: none;
    
    
}

nav ul li {
    display: inline;
    margin: 20px
   
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2em;
}

section {
    margin-bottom: 2em;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}
h1 {
    text-align: center;
    color: #333;
}
.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.col-sm-4 {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    flex: 1;
    min-width: 250px;
    box-sizing: border-box;
    text-align: center;
}
.col-sm-4 img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
    width:200px;
    height:200px;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    color: #fff;
    background-color: #a73232;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}
.btn:hover {
    background-color: #a73232;
}
.container p {
    text-align: center;
}
.container h2 {
    text-align: center;
}

footer {
    background-color: #ff2e2e;
    color: white;
    text-align: center;
    padding: 1em;
    position: relative;
    width: 100%;
    bottom: 0;
}